  /* Input  */

  .task {
    position: relative;
    margin-top:5%;
    min-height: 45px;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
    background: rgba(255, 255, 255, 0.94);
    border-radius: 20px;
    align-items: center;
    text-overflow: clip;
  
  }
  
  .complet{
    position: relative;
    margin-top:5%;
    min-height: 45px;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
    background: rgba(132, 218, 71, 0.94);
    border-radius: 20px;
    align-items: center;
    text-overflow: clip;
  }
  
  h2{
    display: grid;
    align-content: flex-start;
    padding-left: 15px;
    text-align: left;
  
  }
  
  /* Task  */
  

.section {
    position: relative;
    height: 45px;
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
    background: rgba(255, 255, 255, 0.94);
    border-radius: 20px;
    justify-items: center;

}

.section span {
    color: #222;
    width: 40px;
    line-height: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.section input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 18px;
    padding-left: 15px;
    border-radius: 20px;
}

.section input[type="submit"] {
    background: #D052F6;
    border: 1px solid #D052F6;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}

.section input[type="submit"]:hover {
    background: #D052F690;
    border: 1px solid #D052F690;
}
